[submodule "exercises/Py01-Ball/code-problem"]
	path = exercises/Py01-Ball/code-problem
	url = git@github.com:adetaylor/codeclub-python-ball.git
[submodule "exercises/Py01-Ball/code-solution"]
	path = exercises/Py01-Ball/code-solution
	url = git@github.com:adetaylor/codeclub-python-ball.git
[submodule "exercises/Py02-Alien/code-problem"]
	path = exercises/Py02-Alien/code-problem
	url = git@github.com:adetaylor/codeclub-python-alien.git
[submodule "exercises/Py06-ChatRoom/code-solution"]
	path = exercises/Py06-ChatRoom/code-solution
	url = git@github.com:adetaylor/codeclub-python-chatroom.git
[submodule "exercises/Py04-Felix/code-problem"]
	path = exercises/Py04-Felix/code-problem
	url = git@github.com:adetaylor/codeclub-python-felix.git
